{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="card mt-4 mb-4">
        <div class="row justify-content-md-center mt-4 mb-4">
            <div class="col-md-6">
                <div clFass="card-body">
                    <form method="GET" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="first-name" aria-describedby="firstnameHelp"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="last-name" aria-describedby="firstnameHelp"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone_number" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="phone-number" aria-describedby="phoneNumberHelp"
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary">Make Reservation</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "script"}}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        let forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{{end}}