{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="card text-center">
        <img src="/static/images/nia-1.jpg" class="card-img-top" alt="Nia 1">
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <form action="/search-availability" method="POST" class="needs-validation" novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        <div id="date-range-picker" class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="start_date" class="form-label">Start Date</label>
                                    <input type="text" class="form-control" id="start_date" name="start"
                                        placeholder="Arrival" aria-describedby="startDateHelp" required>
                                    <div id="startDateHelp" class="form-text">Enter your starting date in the form of
                                        DD-MM-YYYY
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="end_date" class="form-label">End Date</label>
                                    <input type="text" class="form-control" id="end_date" name="end"
                                        placeholder="Departure" aria-describedby="endDateHelp" required>
                                    <div id="endDateHelp" class="form-text">Enter your end date in the form of
                                        DD-MM-YYYY
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Search Availability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "script"}}
<script>
    const elem = document.getElementById('date-range-picker');
    const rangepicker = new DateRangePicker(elem, {
        buttonClass: 'btn',
        format: 'dd-mm-yyyy'
    });

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        let forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{{end}}